<div class="overlay">
    <div id="congratulations-modal" class="course-modal">
        <div class="course-modal-title">
            ¡Bien hecho felicitaciones!
        </div>
        <div class="course-modal-content">
            <p>Continúa con la siguiente actividad.</p>

            <div class="animation-container over-flow-hidden">
                <img class="img-responsive layer-cong" src="../resources/common/felicitacion1.png" alt="imagen de felicitaciones"/>
                <img class="img-responsive layer-cong fade_in" src="../resources/common/felicitacion2.png" />
                <img class="img-responsive layer-cong fade_in2" src="../resources/common/felicitacion3.png"/>
                <img class="img-responsive layer-cong fade_in3" src="../resources/common/felicitacion4.png" />
                <img class="img-responsive layer-cong fade_in4" src="../resources/common/felicitacion7.png" />
                <img id="kid-cong-2" src="../resources/common/felicitacion5.png" />
                <img id="kid-cong" src="../resources/common/felicitacion6.png" />
            </div>
            <div class="text-center congratulations-button">
                <button class="btn-primary" ng-click="$root.goNext()">Continuar</button>
            </div>
        </div>
    </div>
</div>
