<div class="liz-image-map-mat shadow">

	<!--Descripción-->
	<div ng-if="isBottom" class="block">
		<div class="clearfix">
		<div class="help">
		<img src="../resources/common/iconoayuda.png" alt="ícono mouse"/>
		<span class="tooltip8">
		<img  class="img-rounded" style="width:100%;" src="../resources/common/ayuda.gif"/>
		</span>
		</div>
		<div class="lastear">
		<img ng-show="audio" class="icon-play-description" src="../resources/common/icono-oido.png" alt="ícono escuchar" play="audio-instruction" on="click"/>
		<span class="tooltip6">
		<img  class="img-rounded" style="width:100%;" src="../resources/common/sonido.gif"/>
		</span>
		</div>
		<div class="select">
		<img ng-hide="instruction" src="../resources/common/icono seleccion.png" alt="ícono mouse"/>
		<span class="tooltip6"><img  class="img-rounded" style="width:100%;" src="../resources/common/click.gif"/>
        </span>
		</div>
		<h1 ng-show="title">{{ title }}</h1>
		<p>{{ description }}</p>
		</div>
	</div> <!--/.block-->

	<div ng-if="! isBottom" class="block">
		<div class="clearfix">
			<img src="../resources/common/iconoayuda.png" alt="ícono ayuda"/>
			<img ng-show="audio" class="icon-play-description"src="../resources/common/icono-oido.png" alt="ícono escuchar" play="audio-instruction" on="click"/>
			<img ng-show="watch" src="../resources/common/iconoobservar.png" alt="ícono de observación"/>
			<img src="../resources/common/icono seleccion.png" alt="ícono seleccion"/>
			<span>{{ instruction }}</span>
		</div>
	</div>

	<!--audio-->
	<audio id="audio-instruction" preload="auto">
		<source src="{{ $root.resources + '/'  + audio + '.mp3' }}" type="audio/mpeg">
	</audio>

	<div class="block-content clearfix">

		
		<div class="canvas">
			<img ng-repeat="item in items" class="item btn btn-primar" src="{{ $root.resources + '/' + canvas + '.png' }}" alt="{{ canvasAlt }}" style="{{ getStyles(item) }}" ng-click="selectItem(item)">
		</div> <!--.canvas-->


		<div class="text-box">
			<div class="block">
				<img style="float: right;" ng-show="selectedItem" class="icon-play-description" src="../resources/common/icono-oido.png" alt="ícono escuchar" play="audio-selected" on="click"/>
				<div style="padding: 13px;">{{ selectedItem.title }}</div>
			</div>
			<div class="block-content">
				<div class="inner-text" ng-show="selectedItem.text" ng-bind-html="sanitize(selectedItem.text)"></div>
				<img ng-show="selectedItem.img" class="img-responsive scale1 selected-item" 
					src="{{ $root.resources + '/' + selectedItem.img }}" alt="{{ selectedItem.imgAlt }}" title="{{ selectedItem.imgTitle }}">

				<audio id="audio-selected" preload="auto">
					<source src="{{ $root.resources + '/' + selectedItem.audio + '.mp3' }}" type="audio/mpeg">
				</audio>
			</div> <!--/.block-content-->
		</div> <!--/.text-box-->

	</div> <!--/.block-content-->

</div> <!--/.liz-image-map-description-->

<div ng-if="isBottom" class="block bottom" ng-show="instruction">
	<p class="clearfix">
	<img src="../resources/common/icono seleccion.png" alt="ícono mouse"/>
	<span>{{ instruction }}</span>
	</p>
</div>
