<div class="liz-images-and-text shadow clearfix" ng-class="isBottom ? '' : 'full-height'">
	<div class="block">
		<div class="clearfix">
		    <div class="help">
			<img src="../resources/common/iconoayuda.png" alt="ícono ayuda"/>
			<span class="tooltip8">
		    <img  class="img-rounded" style="width:100%;" src="../resources/common/ayuda.gif"/>
		   </span>
			</div>
			<div class="lastear">
			<img ng-show="audio" class="icon-play-description" src="../resources/common/icono-oido.png" alt="ícono escuchar" play="audio-instruction" on="click"/>
			<span class="tooltip6">
		    <img  class="img-rounded" style="width:100%;" src="../resources/common/sonido.gif"/>
		    </span>
			</div>
			<img ng-show="addicon" src="{{ '../resources/common/' + addicon }}" alt="{{ 'icono ' + addicon.substring(5,13) }}"/>
			<!--aquí va lo que se ponga dentro de la directiva-->
			<div>
				<h1 ng-show="title">{{ title }}</h1>
				<p>{{ description }}</p>
			</div>
		</div>
	</div>
	
	<!--audio-->
	<audio id="audio-instruction" preload="auto">
		<source src="{{ $root.resources + '/'  + audio + '.mp3' }}" type="audio/mpeg">
	</audio>

	<div class="block-content">
		<div ng-show="maintext" ng-bind-html="sanitize(maintext)">
		</div>

		<div class="item scale1" ng-repeat="item in options" style="width: {{ itemswidth ? itemswidth : options.length > 5 ? 100 / (options.length/2) +'%' : 100 / (options.length) +'%' }}">
            <img class="img-responsive {{ itemswidth ? 'img-2' : 'img-1' }}" src="{{ $root.resources + '/' + item.resource}}{{ext ? ext : '.png'}}" alt="{{ item.alt }}" title="{{ item.title ? item.title : '' }}">
			<div ng-hide="{{ noafter }}" >{{ item.text }}</div>
			<div ng-show="{{ noafter }}" class="no-after" ng-bind-html="sanitize(item.text)"></div>
		</div>

	</div>
</div>
