<div class="liz-show-hover-words liz-show-multiple-hover-phrases shadow">

    <!--Descripción-->
    <div class="block">
        <div class="clearfix">
            <div class="help">
            <img src="../resources/common/iconoayuda.png" alt="ícono ayuda"/>
            <span class="tooltip8">
            <img  class="img-rounded" style="width:100%;" src="../resources/common/ayuda.gif"/>
            </span>
            </div>
            <div class="lastear">
            <img ng-show="audio" class="icon-play-description" src="../resources/common/icono-oido.png" alt="ícono escuchar" play="audio-instruction" on="click"/>
            <span class="tooltip6">
            <img  class="img-rounded" style="width:100%;" src="../resources/common/sonido.gif"/>
            </span>
            </div>
            <h1 ng-show="title">{{ title }}</h1>
            <p>{{ description }}</p>
        </div>
    </div> <!--/.block-->

    <!--audio-->
    <audio id="audio-instruction" preload="auto">
        <source src="{{ $root.resources + '/'  + audio + '.mp3' }}" type="audio/mpeg" />
    </audio>

    <div class="block-content clearfix">
        <div class="row hover-words-row" ng-repeat="group in options">
            <div class="col-md-5 hover-phrase-image">
                <img src="{{ $root.resources + '/'  + group.img}}" alt="{{group.alt}}" class="img-responsive" />
            </div>
            <div class="col-md-6 hover-phrase-phrases">
                <p show-tooltip class="phrases" ng-repeat="phrase in group.phrases" ng-bind-html="sanitize(phrase)"></p>
            </div>
        </div>
    </div> <!--/.block-content-->

</div> <!--/.liz-show-concepts-->

<div class="block bottom">
    <p class="clearfix">
        <img ng-hide="priority" src="../resources/common/icono mouse.png" alt="ícono mouse"/>
        <span>{{ instruction }}</span>
    </p>
</div>

<script type="text/javascript">
    $(function() {
        $("[data-toggle='tooltip']").tooltip();
    });
</script> 