<div class="liz-show-parts full-height shadow">

	<!--Descripción-->
	<div class="block">
		<p class="clearfix">
		<img src="../resources/common/iconoayuda.png" alt="ícono mouse"/>
		<img src="../resources/common/icono seleccion.png" alt="ícono mouse"/>
		<span>{{ description }}</span>
		</p>
	</div> <!--/.block-->

	<div class="block-content">

		<div class="canvas">
			<img src="{{ $root.resources + '/' + canvas + '.png' }}" alt="{{ alt }}">

			<!--elementos-->
			<div class="items">
				<div class="item" ng-repeat="item in items" style="{{ $parent.getItemTitleStyles(item) }}">

					<div class="item-title {{ item === $parent.selectedItem ? 'is-selected' : '' }}" 
						play="audio-{{ item.resource }}" on="click"
						ng-click="$parent.selectItem(item)">{{ item.title }}</div>
					
					<div class="item-line"></div>

					<!--audio-->
					<audio id="audio-{{ item.resource }}" preload="auto">
						<source src="{{ $root.resources + '/'  + item.resource + '.mp3' }}" type="audio/mpeg">
					</audio>


				</div> <!--/.item-->
			</div> <!--/.items-->

		</div> <!--/.canvas-->

		<div class="text-box">
			<div class="block" >{{ selectedItem.title }}</div>
			<div class="block-content">{{ selectedItem.text }}</div>
		</div> <!--/.text-box-->

	</div> <!--/.block-content-->

</div> <!--/.liz-show-parts-->

