<div class="liz-transclusions shadow clearfix">

	<div class="block clearfix">
	     <div class="help">
		<img src="../resources/common/iconoayuda.png" alt="ícono ayuda"/>
		<span class="tooltip8">
		<img  class="img-rounded" style="width:100%;" src="../resources/common/ayuda.gif"/>
		</span>
		</div>
		<div class="lastear">
		<img ng-show="audio" class="icon-play-description"src="../resources/common/icono-oido.png" alt="ícono escuchar" play="audio-instruction" on="click"/>
		<span class="tooltip6">
		<img  class="img-rounded" style="width:100%;" src="../resources/common/sonido.gif"/>
		</span>
		</div>
		<div class="select">
        <img ng-hide="instruction || !arrow || addicon" src="../resources/common/icono seleccion.png" alt="ícono seleccionar"/>
        <span class="tooltip6"><img  class="img-rounded" style="width:100%;" src="../resources/common/click.gif"/>
        </span>
		</div>
        <img ng-hide="instruction || !mouse" ng-show="mouse" src="../resources/common/icono mouse.png" alt="ícono deslizar mouse"/>
        <img ng-show="addicon" src="{{ '../resources/common/'+ addicon + '.png' }}" alt="ícono observar "/>
		<div>
			<h1 ng-show="title">{{ title }}</h1>
			<p>{{ description }}</p>
		</div>
	</div>
	<audio id="audio-instruction" preload="auto">
		<source src="{{ $root.resources + '/'  + audio + '.mp3' }}" type="audio/mpeg">
	</audio>
		<div class="block-content clearfix" ng-transclude></div>
		<div class="container">
				
		</div>
	
			<!--audio element-->
			<audio id="audio-1" preload="auto">
				<source src="{{ $root.resources + '/D8.mp3' }}" type="audio/mpeg">
			</audio>
    </div>

  </div>

</div>

	<div ng-show="instruction" class="block bottom">
		<div ng-show="addAudio" class="add-audio bg-1">
	        <img class="icon-play-description" src="../resources/common/icono-oido.png" alt="ícono escuchar" play="add-audio" on="click"/>
	    </div>
        <audio id="add-audio" preload="auto">
            <source src="{{ $root.resources + '/'  + addAudio + '.mp3' }}" type="audio/mpeg">
        </audio>
		<p class="clearfix">
			<img ng-hide="mouse" src="../resources/common/icono seleccion.png" alt="ícono seleccionar"/>
			<img ng-show="mouse" src="../resources/common/icono mouse.png" alt="ícono deslizar mouse"/>
			<span>{{ instruction }}</span>
		</p>
	</div>
	
