<div class="liz-radio-questions liz-checkbox-options full-height shadow">

    <!-- FACES -->
    <!-- <img flash="rightAnswer" class="face" src="../resources/common/icon_right.png" alt="Respuesta Correcta"/>
    <img flash="wrongAnswer" class="face" src="../resources/common/icon_wrong.png" alt="Respuesta Incorrecta. Sigue intentando"/> -->
    <!-- END FACES -->

    <!--Descripción-->
    <div class="block">
        <p class="clearfix">
            <img src="../resources/common/iconoayuda.png" alt="ícono mouse"/>
            <img ng-show="audio" class="icon-play-description"src="../resources/common/icono-oido.png" alt="ícono escuchar" play="audio-instruction" on="click"/>
            <img src="../resources/common/icono seleccion.png" alt="ícono mouse"/>
            <span>{{ description }}</span>
        </p>
    </div> <!--/.block-->

    <!--audio-->
    <audio id="audio-instruction" preload="auto">
        <source src="{{ $root.resources + '/'  + audio + '.mp3' }}" type="audio/mpeg">
    </audio>

    <div class="container-fluid block-content">
        <div ng-if="src" class="main-img" ng-class="{'col-md-5':src}">
            <img class="img-responsive" src="{{ $root.resources + '/' + src }}" alt="{{ alt }}" title="{{ alt }}"/>
            <div ng-if="hasModalImage" class="row checkbox-options-modal-image">
            	<button class="btn btn-primary btn-lg checkbox-options-modal-image-btn" ng-image-popup>
				   {{ modalBtnText }}
				</button>
            </div>
        </div>

        <div class="questions" ng-class="{onlyText: !src, 'col-md-7': src}">
            <div class="question" ng-repeat="q in questions">
                <span ng-if="!hasNoQuestions" class="number bg-1">{{ q.number }}</span>
                <div ng-if="!hasNoQuestions" class="question-text">{{ q.question }}</div>

                <div class="center-block answers">
                    <label class="checkbox answer" ng-repeat="a in q.answers">
                        <input name="{{q.number}}" type="checkbox" ng-model="a.selectedAnswer" ng-value="a" ng-change="verify(q, a)" ng-disabled="q.completed || a.completed" ng-checked="q.completed && a.answer"/> {{ a.text }}
                        <div ng-show="a.right" class="right-answer scale1"></div>
                		<div ng-show="a.wrong" class="wrong-answer scale1"></div>
                    </label>
                </div>
                <!-- <img ng-show="q.right" flash="rightAnswer" class="face" src="../resources/common/icon_right.png" alt="Respuesta Correcta"/>
                <img ng-show="q.wrong" flash="wrongAnswer" class="face" src="../resources/common/icon_wrong.png" alt="Respuesta Incorrecta. Sigue intentando"/> -->
            </div>
        </div>

    </div> <!--/.block-content-->

</div> <!--/.liz-radio-questions-->

<!-- CALIFICATIONS -->
<div ng-show="success">
    <div data-congratulations></div>
</div>

<div ng-show="failure">
    <div data-failure></div>
</div>
