<div class="liz-complete-table-image-inputs liz-complete-table-with-text full-height shadow">
	<!--Descripción-->
	<div ng-if="isBottom" class="block">
		<div class="clearfix">
		    <div class="help">
			<img src="../resources/common/iconoayuda.png" alt="ícono ayuda"/>
			<span class="tooltip8">
	        <img  class="img-rounded" style="width:100%;" src="../resources/common/ayuda.gif"/>
	        </span>
			</div>
			<div class="lastear">
			<img ng-show="audio" class="icon-play-description"src="../resources/common/icono-oido.png" alt="ícono escuchar" play="audio-instruction" on="click"/>
			<span class="tooltip6">
	        <img  class="img-rounded" style="width:100%;" src="../resources/common/sonido.gif"/>
	   		</span>
			</div>
			<!--aquí va lo que se ponga dentro de la directiva-->
			<div>
				<h1 ng-show="title">{{ title }}</h1>
				<p>{{ description }}</p>
			</div>
		</div>
	</div>

	<div ng-if="! isBottom" class="block">
		<div class="clearfix">
		    <div class="help">
			<img src="../resources/common/iconoayuda.png" alt="ícono ayuda"/>
			<span class="tooltip8">
	        <img  class="img-rounded" style="width:100%;" src="../resources/common/ayuda.gif"/>
	        </span>
			</div>
			<div class="lastear">
			<img ng-show="audio" class="icon-play-description"src="../resources/common/icono-oido.png" alt="ícono escuchar" play="audio-instruction" on="click"/>
			<span class="tooltip6">
	        <img  class="img-rounded" style="width:100%;" src="../resources/common/sonido.gif"/>
	   		</span>
			</div>
			<div class="select">
			<img src="../resources/common/icono seleccion.png" alt="ícono seleccion"/>
			<span class="tooltip6"><img  class="img-rounded" style="width:100%;" src="../resources/common/click.gif"/>
            </span>
			</div>
			<span>{{ instruction }}</span>
		</div>
	</div>
	
	<!--audio-->
	<audio ng-if="audio" id="audio-instruction" preload="auto">
		<source src="{{ $root.resources + '/'  + audio + '.mp3' }}" type="audio/mpeg">
	</audio>

	<div class="block-content">
		<div ng-if="hasOptions" class="row table-text-options">
			<div ng-repeat="opt in opts" class="col-md-2 table-text-option">
				<div>
					{{opt}}
				</div>
			</div>
		</div>
		<table class="table tableImageInputs">
			<thead ng-hide="noTitle">
				<tr>
					<th ng-if="!isPrefix" width="30%">{{ textMainTitle }}</th>
					<th ng-if="textInput1Title">{{ textInput1Title }}</th>
					<th ng-if="textInput2Title">{{ textInput2Title }}</th>
					<th ng-if="textInput3Title">{{ textInput3Title }}</th>
					<th ng-if="isPrefix" width="80%">{{ textMainTitle }}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="tableImageInputsRow" ng-repeat="item in items">
					<td ng-if="!isPrefix" class="tableImageData">
						<span>{{ item.textGuide }}</span>
					</td>
					<td ng-if="textInput1Title" ng-init="itemInput1 = getNumber(1)">
						<input placeholder="Escribe aquí" type="text" ng-model="itemInput1.input" ng-blur="verify(itemInput1, item.inputSingle, 1)" ng-disabled="itemInput1.block" />
						<div ng-show="itemInput1.right" class="right-answer scale1"></div>
						<div ng-show="itemInput1.wrong" class="wrong-answer scale1"></div>
					</td>
					<td ng-if="textInput2Title" ng-init="itemInput2 = getNumber(1)">
						<input placeholder="Escribe aquí" type="text" ng-model="itemInput2.input" ng-blur="verify(itemInput2, item.inputsMultiple, 2)" ng-disabled="itemInput2.block" />
						<div ng-show="itemInput2.right" class="right-answer scale1"></div>
						<div ng-show="itemInput2.wrong" class="wrong-answer scale1"></div>
					</td>
					<td ng-if="textInput3Title" ng-init="itemInput3 = getNumber(1)">
						<input placeholder="Escribe aquí" type="text" ng-model="itemInput3.input" ng-blur="verify(itemInput3, item.inputsMultiple2, 3)" ng-disabled="itemInput3.block" />
						<div ng-show="itemInput3.right" class="right-answer scale1"></div>
						<div ng-show="itemInput3.wrong" class="wrong-answer scale1"></div>
					</td>
					<td width="70%" ng-if="isPrefix" class="tableImageData table-with-text-prefix">
						<span>{{ item.textPrefixed }}</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div> <!--/.liz-complete-table-inputs-->

<div ng-if="isBottom" class="block bottom">
	<p class="clearfix">
	<img ng-hide="priority" src="../resources/common/icono seleccion.png" alt="ícono seleccionar"/>
	<span>{{ instruction }}</span>
	</p>
</div>

<div ng-show="success">
	<div data-congratulations></div>
</div>

<div ng-show="failure">
	<div data-failure></div>
</div>