<div class="liz-complete-words shadow full-height clearfix">

	<!--Descripción-->
	<div class="block">
		<p class="clearfix">
		<div class="help">
		<img src="../resources/common/iconoayuda.png" alt="ícono mouse"/>
		<span class="tooltip8">
		<img  class="img-rounded" style="width:100%;" src="../resources/common/ayuda.gif"/>
		</span>
		</div>
		<div class="lastear">
		<img ng-show="audio" class="icon-play-description" src="../resources/common/icono-oido.png" alt="ícono escuchar" play="audio-instruction" on="click"/>
		<span class="tooltip6">
		<img  class="img-rounded" style="width:100%;" src="../resources/common/sonido.gif"/>
		</span>
		</div>
		<div class="select">
		<img src="../resources/common/icono seleccion.png" alt="ícono mouse"/>
		<span class="tooltip6"><img  class="img-rounded" style="width:100%;" src="../resources/common/click.gif"/>
        </span>
		</div>
		<span>{{ description }}</span>
		</p>
	</div>

			
	<!--audio-->
	<audio id="audio-instruction" preload="auto">
		<source src="{{ $root.resources + '/'  + audio + '.mp3' }}" type="audio/mpeg">
	</audio>

	<div class="block-content vertical-align">

		<div class="vertical-align-inner">
			<div ng-repeat="item in items" class="item">
				<img ng-show="item.resource" class="img-responsive" src="{{ $root.resources + '/' + item.resource + '.png' }}" alt="{{ item.alt ? item.alt : item.resource }} " title="{{ item.title ? item.title : item.alt }}">
			</div>

            <!-- Samples -->
            <div class="samples" ng-show="samples">
                <div class="sample" ng-repeat="sample in samples">{{ sample }}</div>
            </div>

			<div class="complete-container" style="{{ getTextStyles() }}">
				<span ng-repeat="word in words">
					<div ng-show="word.isInput" class="input-container">
						<input type="text" ng-model="word.input" ng-blur="verify(word)" ng-disabled="word.completed"/>
						<div ng-show="word.right" class="right-answer scale1"></div>
						<div ng-show="word.wrong" class="wrong-answer scale1"></div>
						</input>
					</div>

					<span  ng-hide="word.isInput" > {{ word.isInput ? "aquivainput" : word.word }}</span>
					<!-- <span  ng-model="word.word" > {{ word.input ? "aquivainput" : word.word }}</span> -->
				</span>
			</div>
		</div>
	</div>
		

</div> <!--/.row.liz-complete-words-->

<!-- CALIFICATIONS -->
<div ng-show="success">
	<div data-congratulations></div>
</div>

<div ng-show="failure">
	<div data-failure></div>
</div>
