<div class="liz-count-elements2 full-height shadow">

	<!--Descripción-->
	<div class="block">
		<p class="clearfix">
		<img src="../resources/common/iconoayuda.png" alt="ícono mouse"/>
		<img src="../resources/common/icono seleccion.png" alt="ícono mouse"/>
		<span>{{ description }}</span>
		</p>
	</div> <!--/.block-->

	<div class="block-content">

		<div class="items">
			<div class="item" ng-repeat="item in items">
				<img class="img-responsive" src="{{ $root.resources + '/' + item.src + '.png' }}" alt="{{ item.alt }}">
				<input type="text" maxlength="1" ng-change="$parent.verifyInput(item)" ng-model="item.input">
			</div> <!--/.item-->
		</div> <!--/.items-->

	</div> <!--/.block-content-->

</div> <!--/.liz-count-elements2-->

<!-- CALIFICATIONS -->
<div ng-show="success">
	<div data-congratulations></div>
</div>

