<div class="liz-drag-drop-multiples-positions full-height shadow clearfix">

<!-- FACES -->
<img data-bind="flash: rightAnswer" class="face" src="../resources/common/icon_right.png" alt="cara feliz - Felicitaciones"/>
<img data-bind="flash: wrongAnswer" class="face" src="../resources/common/icon_wrong.png" alt="cara triste - sigue intentándolo"/>
<!-- END FACES -->

<!--Elemento transcluido-->
<div class="transcluded" ng-transclude></div>

<!--Descripción-->
<div class="block">
	<p class="clearfix">
	<img src="../resources/common/iconoayuda.png" alt="ícono mouse"/>
	<img data-bind="visible: audio, click: playAudio" class="icon-play-description" src="../resources/common/icono-oido.png" alt="ícono escuchar"/>
	<img src="../resources/common/icono seleccion.png" alt="ícono mouse"/>
	<span>{{ description }}</span>
	</p>
</div>

<!--audio-->
<audio id="audio-instruction" preload="auto">
	<source data-bind="attr: { src: resources + '/' + audio() + '.mp3'  }" type="audio/mpeg">
</audio>
		
<!--contenido-->
<div class="block-content">
	
	<div data-bind="sortable: { data: items }" class="stack items clearfix">
		<div class="item" data-bind="attr: { style: _style  }"></div>
	</div> <!--/.items.clearfix-->
	
	<div class="canvas-container" data-bind="attr: { style: canvasContainerStyle  }">
		
			<img class="img-responsive" data-bind="attr: { src: resources + '/' + canvas,alt: canvasAlt }">

			<div class="groups-container clearfix" data-bind="foreach: { data: groups }">

				<div class="group" data-bind="attr: { style: $root.getTargetsStyles($data)  }">
					<div class="inner-group">
						<div class="block" data-bind="text: title"></div>
						<div class="block-content">
							
							<div class="items" data-bind="sortable: { data: items, options: { cancel: '.item' } }">
								<div class="item"></div>
							</div>

						</div> <!--/.block-content-->
					</div> <!--/.inner-group-->
				</div> <!--/.group-->
			</div> <!--/.groups-container-->

	</div> <!--/.canvas-container-->

</div><!--/.block-content-->


<!-- CALIFICATIONS -->
<div data-bind="visible: success">
	<div data-congratulations></div>
</div>

<div data-bind="visible: failure">
	<div data-failure></div>
</div>

</div> <!--/.liz-one-group-->


