<div class="liz-drop-condition full-height shadow">

    <!-- ícono de incorrecto -->
    <img flash="wrongAnswer" class="face" src="../resources/common/icon_wrong.png" alt="Respuesta Incorrecta. Sigue intentando"/>

    <div class="block">
        <p class="clearfix">
            <img src="../resources/common/iconoayuda.png" alt="ícono mouse"/>
            <img ng-show="audio" class="icon-play-description" src="../resources/common/icono-oido.png" alt="ícono escuchar" play="audio-instruction" on="click"/>
            <img src="../resources/common/icono seleccion.png" alt="ícono mouse"/>
            <span>{{ description }}</span>
        </p>
    </div>

    <!--audio-->
    <audio id="audio-instruction" preload="auto">
        <source src="{{ $root.resources + '/'  + audio + '.mp3' }}" type="audio/mpeg">
    </audio>

    <div class="block-content">
        <!-- Estos elementos se llenan vía angular -->
        <div class="items"></div>
        <div class="targets-container"></div>
    </div>

</div>

<!-- CALIFICATIONS -->
<div ng-show="success">
  <div data-congratulations></div>
</div>

<div ng-show="failure">
    <div data-failure></div>
</div>
