<div class="liz-group-complete-letters shadow full-height clearfix">

	<!--Descripción-->
	<div class="block">
		<p class="clearfix">
		<div class="help">
		<img src="../resources/common/iconoayuda.png" alt="ícono mouse"/>
		<span class="tooltip8">
        <img  class="img-rounded" style="width:100%;" src="../resources/common/ayuda.gif"/>
        </span>
		</div>
		<div class="lastear">
		<img ng-show="audio" class="icon-play-description" src="../resources/common/icono-oido.png" alt="ícono escuchar" play="audio-instruction" on="click"/>
		<span class="tooltip6">
        <img  class="img-rounded" style="width:100%;" src="../resources/common/sonido.gif"/>
   		</span>
		</div>
		<div class="select">
		<img src="../resources/common/icono seleccion.png" alt="ícono mouse"/>
		<span class="tooltip6"><img  class="img-rounded" style="width:100%;" src="../resources/common/click.gif"/>
        </span>
		</div>
		<span>{{ description }}</span>
		</p>
	</div>

			
	<!--audio-->
	<audio id="audio-instruction" preload="auto">
		<source src="{{ $root.resources + '/'  + audio + '.mp3' }}" type="audio/mpeg">
	</audio>

	<div class="block-content vertical-align">

		<div class="vertical-align-inner">
			
			<div ng-show="titleBlock"class="text-box">
				<div class="block" >{{ titleBlock }}</div>
				<div class="block-content">
				<p ng-show="blockText">{{ blockText }}</p>
				<img class="main-img" ng-show="mainimg" src="{{ $root.resources + '/'  + mainimg }}" alt="{{ titleBlock }}"></div>
			</div> <!--/.text-box-->

			</div>
			<div class="complete-container" style="{{ getStyles() }}" ng-repeat="item in items" >
				<span  class="item">
					<div ng-show="item.name" class="item-name">{{ item.name }}</div>
				</span>

				<span class="complete-words-container">

					<span ng-repeat="word in item.words">
						<div ng-show="word.isInput" class="input-container span-word">
							<input type="text" ng-model="word.input" ng-blur="verify(word,item)" ng-disabled="word.completed"/>
							<div ng-show="word.right" class="right-answer scale1"></div>
							<div ng-show="word.wrong" class="wrong-answer scale1"></div>
							</input>
						</div>
						
						<span  ng-hide="word.isInput" class="span-word"> {{ word.isInput ? "aquivainput" : word.word }}</span>
					</span>

					<span  class="item-img {{ itemsPerRow === 2 ? 'img-row3' : ''}}">
					<img ng-show="item.resource" class="img-responsive" src="{{ $root.resources + '/' + item.resource  }}" alt="{{ item.alt ? item.alt : item.resource }} " title="{{ item.title ? item.title : '' }}">
					</span>

					<div ng-show="item.feedback" class="item-feedback bg-3">La respuesta correcta es: <strong>{{ item.feedback }}</strong></div>
				</span>
			</div>
		</div>
	</div>
		

</div> <!--/.row.liz-complete-words-->

<!-- CALIFICATIONS -->
<div ng-show="success">
	<div data-congratulations></div>
</div>

<div ng-show="failure">
	<div data-failure></div>
</div>
