<div class="liz-group-complete-sounds shadow full-height clearfix">

	<!--Descripción-->
	<div class="block">
		<p class="clearfix">
		<img src="../resources/common/iconoayuda.png" alt="ícono mouse"/>
		<img ng-show="audio" class="icon-play-description" src="../resources/common/icono-oido.png" alt="ícono escuchar" play="audio-instruction" on="click"/>
		<img ng-show="addicon" class="icon-play-description" src="{{'../resources/common/' + addicon + '.png'}}" alt="{{addicon}}" />
		<img src="../resources/common/icono seleccion.png" alt="ícono mouse"/>
		<span>{{ description }}</span>
		</p>
	</div>

			
	<!--audio-->
	<audio id="audio-instruction" preload="auto">
		<source src="{{ $root.resources + '/'  + audio + '.mp3' }}" type="audio/mpeg">
	</audio>

	<div class="block-content vertical-align">

		<div class="vertical-align-inner">
			
			<div class="complete-container" ng-repeat="item in items" style="{{ getStyles() }}" >
				<span  class="item" style="{{ getStyles2() }}">
					<div ng-hide="item.resource" class="item-name">{{ item.name }}</div>
					<div ng-show="item.caption && !item.isCompleted"  play="{{'audio-' + item.sound }}" on="click" ng-click="selectItem(item)" style="cursor:pointer" class="item-caption">{{ item.caption }}</div>
					<img style="cursor:pointer" play="{{'audio-' + item.sound }}" on="click"  ng-show="item.isCompleted" class="img-responsive" src="{{ $root.resources + '/' + item.resource + '.png' }}" alt="{{ item.alt ? item.alt : item.resource }} " title="{{ item.title ? item.title : '' }}">
					<img style="cursor:pointer" play="{{'audio-' + item.sound }}" on="click" ng-hide="item.caption || !item.resource " ng-show="item.resource" class="img-responsive" src="{{ item.ext ? $root.resources + '/' + item.resource + item.ext : $root.resources + '/' + item.resource + '.png' }}" alt="{{ item.alt ? item.alt : item.resource }} " title="{{ item.title ? item.title : '' }}">

					<!--audio-->
					<audio id="{{'audio-' + item.sound }}" preload="auto">
						<source src="{{ $root.resources + '/'  + item.sound + '.mp3' }}" type="audio/mpeg">
					</audio>
				</span>
			</div>
			<div class="rxt">
				
			</div>
		</div>
	</div>
		

</div> <!--/.row.liz-complete-words-->

<!-- CALIFICATIONS -->
<div ng-show="success">
	<div data-congratulations></div>
</div>

<div ng-show="failure">
	<div data-failure></div>
</div>
