<div class="liz-group-select-multiples-words shadow full-height clearfix">

	<!--Descripción-->
	<div class="block">
		<p class="clearfix">
		<img src="../resources/common/iconoayuda.png" alt="ícono mouse"/>
		<img ng-show="audio" class="icon-play-description" src="../resources/common/icono-oido.png" alt="ícono escuchar" play="audio-instruction" on="click"/>
		<img src="../resources/common/icono seleccion.png" alt="ícono mouse"/>
		<span>{{ description }}</span>
		</p>
	</div>

			
	<!--audio-->
	<audio id="audio-instruction" preload="auto">
		<source src="{{ $root.resources + '/'  + audio + '.mp3' }}" type="audio/mpeg">
	</audio>

	<div class="block-content vertical-align">

		<div class="vertical-align-inner">
			
			<div ng-show="titleBlock || images "class="text-box">
				<div ng-show="titleBlock" class="block" >{{ titleBlock }}</div>
				<div class="block-content {{ titleBlock ? bd-1 : 'no-border no-padding no-margin' }}">
				<div class="words-examples bg-1" ng-repeat="item in examples">{{ item }}</div>	
				<p ng-show="blockText">{{ blockText }}</p>
				<img ng-repeat="img in images" class="main-img" ng-show="img.resource" src="{{ $root.resources + '/'  + img.resource }}" alt="{{ img.alt }}" title="{{ img.title }}" style="{{ img.style }}"></div>
			</div> <!--/.text-box-->

			</div>
			<div  class="complete-container bd-1 {{ item.right === true ? 'is-true' : '' }} {{ item.wrong === true ? 'is-false' : '' }} " ng-repeat="item in items" style="width: {{ itemswidth }}" >
				<div  ng-show="item.name" class="item-name-container bg-1">
					<div class="item-name">{{ item.name }}</div>
				</div>

				<div class="complete-words-container" style="width: {{ itemswidth === '48%' ? '88%' : '94%' }}">

					<span ng-repeat="word in item.words">
						<div ng-show="word.isInput" ng-click="verify(word,item)" class="words fc-1 {{ word.right === true ? 'is-right' : '' }}">
							<span/>{{ word.word }}</span>
							<div ng-show="word.right" class="right-answer scale1"></div>
							<div ng-show="word.wrong" class="wrong-answer scale1"></div>
							</input>
						</div>						
						<span class="words fc-1" ng-click="verify(word,item)" ng-hide="word.isInput" > {{ word.isInput ? "aquivainput" : word.word }}
							<div ng-show="word.right" class="right-answer scale1"></div>
							<div ng-show="word.wrong" class="wrong-answer scale1"></div>
						</span>
						<!-- <span  ng-model="word.word" > {{ word.input ? "aquivainput" : word.word }}</span> -->
					</span>

					<div  class="item-img">
					<img ng-show="item.resource" class="img-responsive" src="{{ $root.resources + '/' + item.resource  }}" alt="{{ item.alt ? item.alt : item.resource }} " title="{{ item.title ? item.title : item.alt }}">
					</div>

				</div>
			</div>
		</div>
	</div>
		

</div> <!--/.row.liz-complete-words-->

<!-- CALIFICATIONS -->
<div ng-show="success">
	<div data-congratulations></div>
</div>

<div ng-show="failure">
	<div data-failure></div>
</div>
