<div class="liz-image-map-select full-height shadow">

<!-- FACES -->
<img flash="wrongAnswer" class="face" src="../resources/common/icon_wrong.png" alt="Respuesta Incorrecta. Sigue intentando"/>
<!-- END FACES -->

	<!--Descripción-->
	<div class="block">
		<p class="clearfix">
	    <div class="help">
		<img src="../resources/common/iconoayuda.png" alt="ícono mouse"/>
		<span class="tooltip8">
        <img  class="img-rounded" style="width:100%;" src="../resources/common/ayuda.gif"/>
        </span>
		</div>
		<div class="lastear">
		<img ng-show="audio" class="icon-play-description" src="../resources/common/icono-oido.png" alt="ícono escuchar" play="audio-instruction" on="click"/>
		<span class="tooltip6">
        <img  class="img-rounded" style="width:100%;" src="../resources/common/sonido.gif"/>
        </span>
		</div>
		<div class="select">
		<img src="../resources/common/icono seleccion.png" alt="ícono mouse"/>
		<span class="tooltip6"><img  class="img-rounded" style="width:100%;" src="../resources/common/click.gif"/>
        </span>
		</div>
		<span>{{ description }}</span>
		</p>
	</div> <!--/.block-->

	<!--audio-->
	<audio id="audio-instruction" preload="auto">
		<source src="{{ $root.resources + '/'  + audio + '.mp3' }}" type="audio/mpeg">
	</audio>

	<div class="block-content">
		<div class="items">
			<div ng-click="selectItem(item)" ng-repeat="item in items" class="item" play="audio-{{ $index }}" on="click">
				<div class="btn-primary {{ selectedItem === item ? 'active' : '' }} {{ item.completed ? 'disabled' : '' }}">
					{{ item.name }}

					<!--audio element-->
					<audio id="audio-{{ $index }}" preload="auto">
						<source src="{{ $root.resources + '/'  + item.audio + '.mp3' }}" type="audio/mpeg">
					</audio>
				</div> <!--.btn-primary-->
			</div> <!--.item-->
		</div> <!--.items-->

		<div class="main-img">
			<img class="img-responsive" src="{{ $root.resources + '/' + img }}" alt="{{ alt }}">

			<!--elementos posicionados sobre el mapa-->
			<div class="item" ng-repeat="item in items" style="{{ getStyles(item) }}">
				<div ng-click="verify(item)" ng-hide="item.isRight || item.isWrong" class="inner-item"></div>
				<div ng-show="item.isRight" class="answer-icon right scale-1"></div>
				<div ng-show="item.isWrong" class="answer-icon wrong scale-1"></div>
			</div> <!--.item-->

		</div> <!--.main-img-->

	</div> <!--/.block-content-->
</div> <!--/.liz-image-map-select-->

<!-- CALIFICATIONS -->
<div ng-show="success">
	<div data-congratulations></div>
</div>

<div ng-show="failure">
	<div data-failure></div>
</div>
