<div class="liz-numeric-sequences full-height shadow">

<!-- FACES -->
<img flash="rightAnswer" class="face" src="../resources/common/icon_right.png" alt="Respuesta Correcta"/>
<img flash="wrongAnswer" class="face" src="../resources/common/icon_wrong.png" alt="Respuesta Incorrecta. Sigue intentando"/>
<!-- END FACES -->

	<!--Descripción-->
	<div class="block">
		<p class="clearfix">
		<div class="help">
		<img src="../resources/common/iconoayuda.png" alt="ícono mouse"/>
		<span class="tooltip8">
		<img  class="img-rounded" style="width:100%;" src="../resources/common/ayuda.gif"/>
		</span>
		</div>
		<div class="lastear">
		<img ng-show="audio" class="icon-play-description"src="../resources/common/icono-oido.png" alt="ícono escuchar" play="audio-instruction" on="click"/>
		<span class="tooltip6">
		<img  class="img-rounded" style="width:100%;" src="../resources/common/sonido.gif"/>
		</span>
		</div>
		<div class="select">
		<img src="../resources/common/icono seleccion.png" alt="ícono mouse"/>
		<span class="tooltip6"><img  class="img-rounded" style="width:100%;" src="../resources/common/click.gif"/>
        </span>
		</div>
		<span>{{ description }}</span>
		</p>
	</div> <!--/.block-->

	<!--audio-->
	<audio id="audio-instruction" preload="auto">
		<source src="{{ $root.resources + '/'  + audio + '.mp3' }}" type="audio/mpeg">
	</audio>

	<div class="block-content">

		<table class="sequences">
			<tr ng-repeat="seq in sequences">
				<td ng-repeat="item in seq">
					<!--elemento estático-->
					<span ng-show="item.filled">{{ item.number }}</span>

					<!--input a llenar-->
					<input ng-hide="item.filled" type="text" ng-model="item.input" ng-change="verify(item)" ng-disabled="item.completed">
				</td>
			</tr>
		</table>

	</div> <!--/.block-content-->

</div> <!--/.liz-numeric-sequences-->

<!-- CALIFICATIONS -->
<div ng-show="success">
	<div data-congratulations></div>
</div>

<div ng-show="failure">
	<div data-failure></div>
</div>
