<div class="liz-select-all-correct-image-options full-height shadow">
	<!--Descripción-->
	<div ng-if="isBottom" class="block">
		<div class="clearfix">
			<img src="../resources/common/iconoayuda.png" alt="ícono ayuda"/>
			<img ng-show="audio" class="icon-play-description"src="../resources/common/icono-oido.png" alt="ícono escuchar" play="audio-instruction" on="click"/>
			<!--aquí va lo que se ponga dentro de la directiva-->
			<div>
				<h1 ng-show="title">{{ title }}</h1>
				<p>{{ description }}</p>
			</div>
		</div>
	</div>

	<div ng-if="! isBottom" class="block">
		<div class="clearfix">
			<img src="../resources/common/iconoayuda.png" alt="ícono ayuda"/>
			<img ng-show="audio" class="icon-play-description"src="../resources/common/icono-oido.png" alt="ícono escuchar" play="audio-instruction" on="click"/>
			<img src="../resources/common/icono seleccion.png" alt="ícono seleccion"/>
			<span>{{ instruction }}</span>
		</div>
	</div>
	
	<!--audio-->
	<audio ng-if="audio" id="audio-instruction" preload="auto">
		<source src="{{ $root.resources + '/'  + audio + '.mp3' }}" type="audio/mpeg">
	</audio>

	<div class="container-fluid block-content">
		<div class="row option-images">
			<div class="col-md-3 option-image" ng-repeat="item in items" style="{{ getStyles(item) }}">
				<img src="{{ $root.resources + '/'  + item.img}}" title="{{ item.alt }}" class="img-responsive scale1">
				<div class="option bd-1 {{ opt.complete ? classComplete : ''}} {{opt.right ? 'is-true' : opt.wrong ? 'is-false' : ''}}" ng-repeat="opt in item.imgOptions" style="{{ getOptionStyles(opt) }}" ng-click="verify(item, opt)"></div>
				
			</div>
		</div>
		<!-- FACES -->
			    <img flash="rightAnswer" class="face" src="../resources/common/icon_right.png" alt="Respuesta Correcta"/>
			    <img flash="wrongAnswer" class="face" src="../resources/common/icon_wrong.png" alt="Respuesta Incorrecta. Sigue intentando"/>
	</div>

</div> <!--/.liz-select-table-multiples -->

<div ng-if="isBottom" class="block bottom">
	<p class="clearfix">
	<img ng-hide="priority" src="../resources/common/icono seleccion.png" alt="ícono seleccionar"/>
	<span>{{ instruction }}</span>
	</p>
</div>

<div ng-show="success">
	<div data-congratulations></div>
</div>

<div ng-show="failure">
	<div data-failure></div>
</div>