<div class="liz-table-path shadow clearfix" ng-class="isBottom ? '' : 'full-height'">
	<div ng-if="isBottom" class="block">
		<div class="clearfix">
			<img src="../resources/common/iconoayuda.png" alt="ícono ayuda"/>
			<img ng-show="audio" class="icon-play-description"src="../resources/common/icono-oido.png" alt="ícono escuchar" play="audio-instruction" on="click"/>
			<!--aquí va lo que se ponga dentro de la directiva-->
			<div>
				<h1 ng-show="title">{{ title }}</h1>
				<p>{{ description }}</p>
			</div>
		</div>
	</div>

	<div ng-if="! isBottom" class="block">
		<div class="clearfix">
			<img src="../resources/common/iconoayuda.png" alt="ícono ayuda"/>
			<img ng-show="audio" class="icon-play-description"src="../resources/common/icono-oido.png" alt="ícono escuchar" play="audio-instruction" on="click"/>
			<img ng-show="watch" src="../resources/common/iconoobservar.png" alt="ícono de observación"/>
			<img src="../resources/common/icono seleccion.png" alt="ícono seleccion"/>
			<span>{{ instruction }}</span>
		</div>
	</div>
	
	<!--audio-->
	<audio id="audio-instruction" preload="auto">
		<source src="{{ $root.resources + '/'  + audio + '.mp3' }}" type="audio/mpeg">
	</audio>

	<!-- FACES -->
	<img flash="rightAnswer" class="face" src="../resources/common/icon_right.png" alt="Respuesta Correcta"/>
	<img flash="wrongAnswer" class="face" src="../resources/common/icon_wrong.png" alt="Respuesta Incorrecta. Sigue intentando"/>
	<!-- END FACES -->

	<div class="block-content">
		<div class="img-left">
			<img class="img-responsive" src="{{ $root.resources + '/' + imgLeft }}" alt="{{ imgLeftAlt }}">
		</div>

		<div class="table-path">
			<table class="bd-1">
				<tr ng-repeat="row in table">
					<td class="bd-1" ng-repeat="cell in row">
						<div ng-click="verify(cell)" class="inner-cell bd-1 {{ cell.completed ? 'completed bg-1' : '' }}">{{ cell.path ? 'yep' : '' }}{{ cell.text }}</div>
					</td>
				</tr>
			</table>
		</div> <!--.table-path-->

		<div class="img-right">
			<img class="img-responsive" src="{{ $root.resources + '/' + imgRight }}" alt="{{ imgRightAlt }}">
		</div>

	</div> <!--.block-content-->

</div>

<div ng-if="isBottom" class="block bottom">
	<p class="clearfix">
	<img ng-hide="priority" src="../resources/common/icono seleccion.png" alt="ícono seleccionar"/>
	<span>{{ instruction }}</span>
	</p>
</div>

<!-- CALIFICATIONS -->
<div ng-show="success">
	<div data-congratulations></div>
</div>

<div ng-show="failure">
	<div data-failure></div>
</div>
