<div class="liz-write-true-false shadow clearfix">

    <!-- FACES -->
    <img flash="rightAnswer" class="face" src="../resources/common/icon_right.png" alt="Respuesta Correcta"/>
    <img flash="wrongAnswer" class="face" src="../resources/common/icon_wrong.png" alt="Respuesta Incorrecta. Sigue intentando"/>
    <!-- END FACES -->

    <div class="block clearfix">
        <div class="help">
        <img src="../resources/common/iconoayuda.png" alt="ícono ayuda"/>
        <span class="tooltip8">
        <img  class="img-rounded" style="width:100%;" src="../resources/common/ayuda.gif"/>
        </span>
        </div>
        <div class="lastear">
        <img ng-show="audio" class="icon-play-description"src="../resources/common/icono-oido.png" alt="ícono escuchar" play="audio-instruction" on="click"/>
        <span class="tooltip6">
        <img  class="img-rounded" style="width:100%;" src="../resources/common/sonido.gif"/>
        </span>
        </div>
        <div class="select">
        <img src="../resources/common/icono seleccion.png" alt="ícono mouse"/>
        <span class="tooltip6"><img  class="img-rounded" style="width:100%;" src="../resources/common/click.gif"/>
        </span>
        </div>
        <div>
            <h1 ng-show="title">{{ title }}</h1>
            <p>{{ description }}</p>
        </div>
    </div>

    <!--audio-->
    <audio id="audio-instruction" preload="auto">
        <source src="{{ $root.resources + '/'  + audio + '.mp3' }}" type="audio/mpeg">
    </audio>

    <!--la transclusión se da acá-->
    <div class="block-content clearfix true-false-container">

        <div class="main-img" ng-show="src || text">
             <div class="main-text" ng-bind-html="sanitize(text)"></div>
            <img ng-click="zoom()" style="{{ bigImg ? 'cursor: -webkit-zoom-in;' : '' }}" class="img-responsive" src="{{ $root.resources + '/' + src }}" alt="{{ alt }}" title="{{ title }}"/>
        </div>
        <div class="items" style="{{ src ? 'width: 60%;' : '' }}">
            <div class="clearfix items" ng-repeat="item in items" style="width: 100%;" >
                <div class="clearfix text-block" style="width: calc(100% - 3.2em); float:left;">
                    <div class="btn-primary">{{ $index + 1 }}</div>
                    <p>{{ item.text }}</p>
                </div>
                <div style="float:left; width: 3em;">
                    <input class="input-primary" type="text" ng-model="item.input" style="text-align:center;" maxlength="1"
                           ng-change="verify(item)" ng-disabled="item.completed">
                </div>
            </div>

            <div class="feedback" ng-show="showFeedback" ng-bind-html="sanitize(feedback)"></div>

        </div>

        <div ng-show="showBig">
            <!--se cierra al hacer click sobre el overlay o la imagen-->
            <div class="overlay"></div>

            <div class="big-img">
                <img class="img-responsive" src="{{ $root.resources + '/' + bigImg }}" alt="{{ alt }}">
            </div> <!--.big-img-->

            <button ng-click="complete()" class="close-btn">X</button>
        </div> 

    </div>
</div>

<!-- CALIFICATIONS -->
<div ng-show="success"> <div data-congratulations></div></div>
<div ng-show="failure"> <div data-failure></div> </div>
